{% extends 'index.html' %}
{% block title %} {% endblock title %}
{% block body %}
{% load static %}

<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    
            <div class="card card-1" style='width:60%; margin-left:270px;'>
              
                <div class="card-body" >
                  
  
 <h2>Dhaxalayaal <a class="btn btn-warning" href="{% url 'dform'  %}" style='margin-left:100px'>ADD</a></h2>
  </br>               
  <table class="table ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">   Parcel</th>
      <th scope="col">   FirstName</th>
      <th scope="col"> SecondName</th>
      <th scope="col">  LastName</th>
      <th scope="col"> Gender </th>
        <th scope="col"> DOB </th>
      <th scope="col">      Telephone </th>
        <th scope="col">    Action</th>
       
        
    </tr>
  </thead>
   {% for  d in Da %}
  <tbody>
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>   {{ d.Parcel}}</td>
      <td>   {{ d.FirstName}}</td>
      <td>   {{ d.SecondName}}</td>
      <td>   {{ d.LastName}}</td>
      <td>   {{ d.Gender}}</td>
    <td>   {{ d.DOB}}</td>
      <td>   {{ d.Telephone }}</td>

          
      <td>
    
        <a class="btn btn-success" href="{% url 'dform' d.Registrationid %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'ddelete' d.Registrationid %}">Delete</a>
                                  
      </td>
    </tr>
   
  </tbody>
 {% endfor %}
 </table>

</div>
</div>
</div>
</div>

{% endblock body %}