{% extends 'index.html' %}
{% block title %} {% endblock title %}
{% block body %}
{% load static %}

<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    
            <div class="card card-1" style='width:60%; margin-left:270px;'>
              
                <div class="card-body" >
                  
  
 <h2>kalawarejin  <a class="btn btn-warning" href="{% url 'kform'  %}" style='margin-left:100px'>ADD</a></h2>
  </br>               
  <table class="table ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">   Parcel</th>
    
       
        
    </tr>
  </thead>
   {% for  d in Da %}
  <tbody>
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>   {{ d.Parcel}}</td>
  

          
      <td>
    
        <a class="btn btn-success" href="{% url 'kform' d.RegistrationID  %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'kdelete' d.RegistrationID  %}">Delete</a>
                                  
      </td>
    </tr>
   
  </tbody>
 {% endfor %}
 </table>

</div>
</div>
</div>
</div>

{% endblock body %}