{% extends 'index.html' %}
{% block title %} FormPage {% endblock title %}
{% block body %}
{% load static %}

<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
              
                <div class="card-body">
                  
  
 <h2>LandType<a class="btn btn-warning" href="{% url 'Lanform'  %}" style='margin-left:100px'>ADD</a></h2>
  </br>               
 <table class="table ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">LandType</th>
        
    </tr>
  </thead>
   {% for  l in Lan  %}
  <tbody>
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>   {{ l.Landtype}}</td>
          
      <td>
    
        <a class="btn btn-success" href="{% url 'Lanupdateform' l.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'Landelete' l.id %}">Delete</a>
                                  
      </td>
    </tr>
   
  </tbody>
  {% endfor %}
</table>

</div>
</div>
</div>
</div>

{% endblock body %}